{% extends 'base.html' %}
{% block title %}Our Customers{% endblock title %}

<!-- Navabar Button -->
{% block additem %}
<a href="{% url 'transferdetails' %}"><button class="btn btn-outline-success">Transaction Details</button></a>
<a href="{% url 'transfer' %}"><button class="btn btn-outline-warning m-1">Transfer Money</button></a>
{% endblock additem %}

{% block body %}

<!-- All Customer Details Here -->
<div class="container mt-4" style="height: auto;">
    <h5 class="text-center fs-1 fw-bolder text-dark">Customer Details</h5>
    <hr>
    <table class="table table-striped" style= "text-align: center;">
        <thead>
          <tr>
            <th scope="col">Account Number</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Email</th>
            <th scope="col">Current Balance</th>
          </tr>
        </thead>
        <tbody>
            {% for detail in cust_details %}
          <tr>
            <td>{{detail.acc_number}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.dob}}</td>
            <td>@{{detail.email}}</td>
            <td>{{detail.curr_balance}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock body %}